html, body {
  width: 100%;
  height: 100%;
  margin: 0;  
  font-family: 'Old Standard TT';font-size: 15px;
}

h1 {
  color: blue;
}

#login {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  background-image: url(https://images.pexels.com/photos/12598/96917deb7705adcee76b65caf8c652b1.jpg?auto=compress&cs=tinysrgb&h=350);
  background-size: cover;
}

button {
  background-color: blue;
  border-radius: 5px;
  color: whitesmoke;
}

#signin:hover {
  background-color: rgb(96, 111, 245);
  color: white;
}

#login>div {
  background-color: rgba(255, 255, 255, 0.808);
  border: 1px solid;
  padding: 20px 30px;
  border-radius: 5px;
}

.lg {
  border-radius: 3px;
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 
    0px 1px 0px 0px rgba(250, 250, 250, 0.5) ;
  margin-left: auto;
  margin-right: auto;
}

#signup,#fg {
  font-size: .8em;
}

div>input {
  border: 1px solid;
  padding-bottom: .3em;
  padding-top: .3em;
  padding-left: .2em;
  width: 100%;
}

.header {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

#lgfrm>div {
  margin-bottom: 10px;
}
