html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Old Standard TT';
}

h1 {
  color: white;
}

h2 {
  padding-left: 1em;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1em;
  background-color: #0000ff;
}

#logout {
  align-self: center;
  margin-right: 1.8em;
}

#lgbtn {
  padding: .6em 3em;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

#reqbtn:hover,
#lgbtn:hover {
  background-color: #808080;
  color: #f5f5f5;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

#request {
  border: 1px solid;
  display: flex;
  flex-direction: column;
  padding: 2.5em;
  justify-content: space-around;
  border-radius: .5em;
  background-color: #878f99;
  width: 320px;
  height: 400px;
}

#head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

input,textarea {
  border: 1px solid;
  width: 100%;
  padding-left: 1em;
}

#sub {
  margin: 1em 0em;
  padding: 1em;
  border-radius: 10px;
  width: 100%;
  background-color: #0000ff;
  font-size: 1.2em;
  cursor: pointer;
  color: white;
  font-size: 1.3em;
}

#sub:hover {
  background-color: #1919d8b6;
}

#reqbtn {
  margin: 1em 2.4em 1em 0em;
  padding: .5em 3em;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
}

select {
  width: 100%;
  height: 2em;
}

input {
  height: 2em;
}

@media screen and (max-width: 610px) {
  #request {
    width: 73%;
  }

  #lgbtn {
    padding: .3em 1em;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
  }

  #reqbtn {
    margin: 1em 2.4em 1em 0em;
    padding: .5em;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
  }
}

#container {
  min-height: 100%;
  position: relative;
}

#content {
  padding:10px;
  padding-bottom:60px;
}

#footer {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  bottom:0;
  width:100%;
  height:60px;
  background: whitesmoke;
  color: #0000ff;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.5em;
}
