.form__input {
  background-color: rgb(239, 239, 255);
  border: 1px solid;
  border-radius: .3rem;
  font-size: 15px;

  margin-bottom: 1.2rem;
  margin-top: 1.2rem;
  padding-bottom: .8rem;
  padding-top: .8rem;
  padding-left: .7rem;
  width: 100%;
}

.form__error {
  color: red;
  font-size: small;
  font-style: italic;
  margin-bottom: .05rem;
}

.request__form {
  background-color: rgba(245, 245, 245, 0.522);
  margin: 70px auto;
  max-width: 500px;
  min-width: 300px;
  padding: 30px;
  width: 70%;
}

.request__type {
  margin-bottom: 20px;
  margin-left: 10px;
}

.create__request {
  background-image: linear-gradient(#000000b4, #000000b4), url(https://bit.ly/2MC0dpe);
  background-size: cover;
  height: 100vh;
}

.create__request-title {
  color: white;
  margin: 0 auto;
  padding-top: 80px;
  text-align: center
}

.view__div {
  align-items: center;
  background-image: linear-gradient(#000000b4, #000000ce), url(https://bit.ly/2MC0dpe);
  display: flex;
  justify-content: center;
  background-size: cover;
  height: 100vh;
}

.view__request {
  background-color: rgba(245, 245, 245, 0.466);
  margin: 150px auto;
  max-width: 500px;
  min-width: 300px;
  padding: 25px;
  width: 70%;
}

.req__item {
  color: $off-white;

  display: flex;
  margin-bottom: 25px;
}

.req__value {
  color: rgb(197, 212, 238);
  font-weight: bolder;
  width: 110px;
}

.request__label {
  color: $off-white;
  font-size: 20px;
  font-weight: 600;
}
