.header {
  height: 4rem;
  text-align: center;
  padding-top: 1.2rem;
  span {
    font-size: 2.3rem;
    font-weight: 700;
  }
}

.header__title{
  color: $blue;
  text-decoration: none;
  background: white;
}

.auth__header {
  background-color: $blue;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.auth__title {
  color: white;
  text-decoration: none;
}

.nav__item {
  color: white;
  margin-right: 20px;
  text-decoration: none;
}

.nav__div {
  padding-top: 10px;
}

@media screen and (max-width: 788px) {
  .auth__header {
    flex-direction: column;
    justify-content: space-around;
  }

  .auth__title .header__name {
    font-size: 20px;
  }

  .nav__div {
    padding: 0;
  }
}
